@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@525&display=swap');
* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 0 5%;
    font-family: 'Work Sans', sans-serif;
}

nav ul img {
    max-width: 10%;
}